.head_container{
    display: block; 
    width: 80%; 
    height: 40px; 
    border: 1px solid black; 
    margin: auto; 
    margin-top: 2%;
    text-align: center;
}

.main_container{
    width: 95%; 
    height: 600px; 
    border: 1px solid black; 
    margin: auto; 
    margin-top: 2%;
}

.sub_panels{
    display: block; 
    width: 45%; 
    height: 550px; 
    border: 1px solid red; 
    padding: 1rem 1rem; 
    margin-left: 1.5%; 
    margin-top: 0.8%;
    float: left;
}

.sub_panels_video{
    height: 400px;
    background-color: blue;
    margin-top: 6%;
}

.value_display{
    padding: 1%; 
    margin: 3%; 
    border: 1px solid black;
}
.input-field, form .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
  }
  .input-field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
  }
  input:focus{
    border: 1px solid #48FFD5;
  }
  .input-field label, span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
  }
