<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Login Page</title>
</head>
<body>
    <div class="head_container">
        <i><b>COMPANY</b></i>
    </div>

    <div class="main_container">
        <div class="sub_panels sub_panels_video">
            
        </div>
        
        <div class="sub_panels">
            <div class="value_display">CustomerID</div>
            <div class="value_display">Name</div>
            <div class="value_display">Phone No.</div>
            <div class="value_display">Address</div>

            <div class="button" style="float: right; margin-right: 20px;">
                <div class="inner"></div>
                <button>Confirm Details</button>
            </div>
        </div>
    </div>
</body>
</html>