<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Sign Up Page</title>
</head>
<body>
    <div class="head_container">
        <i><b>COMPANY</b></i>
    </div>

    <div class="main_container">
        <div class="sub_panels sub_panels_video">
        </div>
        
        <div class="sub_panels">
            <form method="Post">
                <div class="input-field">
                  <input type="text" required name="user">
                  <label>Customer Name</label>
                </div>
                <div class="input-field">
                    <input type="text" required name="phone">
                    <label>Phone No.</label>
                  </div>
                <div class="input-field">
                  <input type="text" required name="address">
                  <label>Address</label>
                </div>
                
            </form>
            <div class="button" style="float: right; margin-right: 20px;">
                <div class="inner"></div>
                <button>Submit Customer Details</button>
            </div>
            
        </div>
    </div>
</body>
</html>