<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Sign Up Page</title>
</head>
<body>
    <div class="head_container">
        <i><b>COMPANY</b></i>
    </div>

    <div class="main_container">
        <div class="sub_panels sub_panels_video">
            <img src="{{ url_for('video_feed') }}" height="100%" width="100%">
        </div>
        
        <div class="sub_panels">
            <form method="Post">
                <div class="value_display">
                    <label>Customer Name:</label>
                    <input type="text" required name="user" style="float: right;">
                </div>
                <div class="value_display">
                    <label>Phone No.:</label>
                    <input type="text" required name="phone" style="float: right;">                  
                  </div>
                <div class="value_display">
                    <label>Address:</label>
                    <input type="text" required name="address" style="float: right;">
                </div>
                
            </form>
            <div class="button" style="float: right; margin-right: 20px;">
                <div class="inner"></div>
                <button>Submit Customer Details</button>
            </div>
            
        </div>
    </div>
</body>
</html>