.head_container{
    display: block; 
    width: 80%; 
    height: 40px; 
    border: 1px solid black; 
    margin: auto; 
    margin-top: 2%;
    text-align: center;
}

.main_container{
    width: 95%; 
    height: 600px; 
    border: 1px solid black; 
    margin: auto; 
    margin-top: 2%;
}

.sub_panels{
    display: block; 
    width: 45%; 
    height: 550px; 
    border: 1px solid red; 
    padding: 1rem 1rem; 
    margin-left: 1.5%; 
    margin-top: 0.8%;
    float: left;
}

.sub_panels_video{
    height: 400px;
    background-color: blue;
    margin-top: 6%;
}

.value_display{
    padding: 1%; 
    margin: 3%; 
    border: 1px solid black;
}

