<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static', filename='base.css') }}">
    <title>Product Details</title>
</head>
<body>
    <div class="base_div">
        <div class="details_top">
            <div class="room">Product Details</div>
            <div class="company details return_company"></div>
        </div>
        <div class="details_bottom">
            <div class="table_cover">
                <table class="details_table">
                    <tr>
                        <th style="width: 20%;">Product_ID</th>
                        <th style="width: 60%;">Name</th>
                        <th style="width: 19;">Price</th>
                    </tr>
                    <tr>
                        <td>D9F8B76</td>
                        <td>Jack & Jones Ripped Jeans</td>
                        <td>2599</td>
                    </tr>
                    <tr>
                        <td>B612G88</td>
                        <td>Puma One8 Tshirt</td>
                        <td>1299</td>
                    </tr>
                    <tr>
                        <td>C2H92G8</td>
                        <td>Levi's Shirt</td>
                        <td>1599</td>
                    </tr>
                    <tr>
                        <td>S22R341</td>
                        <td>Reebok Running SHoe</td>
                        <td>5999</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="details_buttons_section">
            <a href="{{ url_for('signin')}}"><div class="button sp">Signin</div></a>
                <a href="{{ url_for('product')}}"><div class="button sp">Product</div></a>
                <a href="{{ url_for('customer')}}"><div class="button sp">Customer</div></a>
                <a href="{{ url_for('purchase')}}"><div class="button sp">Purchase</div></a>
                <a href="{{ url_for('returnd')}}"><div class="button sp">Return</div></a>
        </div>
    </div>
</body>
</html>