<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static', filename='base.css') }}">
    <title>Purchase Details</title>
</head>
<body>
    <div class="base_div">
        <div class="details_top">
            <div class="room">Purchase Details</div>
            <div class="company details"></div>
        </div>
        <div class="details_bottom">
            <div class="table_cover">
                <table class="details_table">
                    <tr>
                        <th>Purchase_ID</th>
                        <th>Date</th>
                        <th>Customer_ID</th>
                        <th>Product_ID</th>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>05/02/2022</td>
                        <td>Anirban_001</td>
                        <td>D9F8B76,C2H92G8</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>01/02/2022</td>
                        <td>Indradeb_002</td>
                        <td>B612G88</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>12/02/2022</td>
                        <td>Snehashish_003</td>
                        <td>S22R341</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="details_buttons_section">
            <a href="{{ url_for('signin')}}"><div class="button sp">Signin</div></a>
            <a href="{{ url_for('product')}}"><div class="button sp">Product</div></a>
            <a href="{{ url_for('customer')}}"><div class="button sp">Customer</div></a>
            <a href="{{ url_for('purchase')}}"><div class="button sp">Purchase</div></a>
            <a href="{{ url_for('returnd')}}"><div class="button sp">Return</div></a>
        </div>
    </div>
</body>
</html>