<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <title>Return Details</title>
</head>
<body>
    <div class="base_div">
        <div class="details_top">
            <div class="room">Return Details</div>
            <div class="company details return_company"></div>
        </div>
        <div class="details_bottom">
            <div class="table_cover">
                <table class="details_table">
                    <tr>
                        <th>Return_ID</th>
                        <th>Return_Date</th>
                        <th>Purchase_ID</th>
                        <th>Customer_ID</th>
                        <th>Product_ID</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>10/02/2022</td>
                        <td>001</td>
                        <td>C2H92G8</td>
                        <td>Anirban_001</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>03/02/2022</td>
                        <td>002</td>
                        <td>B612G88</td>
                        <td>Indradeb_002</td>
                    </tr>
                </table>
            </div>
            <div class="details_buttons_section">
                <div class="button">Product</div>
                <div class="button">Customer</div>
                <div class="button">Purchase</div>
                <div class="button">Return</div>
            </div>
        </div>
    </div>
</body>
</html>