<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="signup_base_div">
        <div class="signup_cover signup_left">
            <form action="" class="form"></form>
        </div>
        <div class="signup_cover">
            <div class="video_cover">
                <video id="webcam" autoplay playsinline width="500px" height="375px"></video>
                <canvas id="canvas" class="d-none"></canvas>
            </div>
            <a download="image_0.jpg" onClick = snaps()><div class="snap_button">SNAP</div></a>
        </div>
    </div>
<script>
    const webcamElement = document.getElementById('webcam');
    const canvasElement = document.getElementById('canvas');
    const webcam = new Webcam(webcamElement, 'user', canvasElement);
    /*counter = 0;*/

    webcam.start()
        .then(result =>{
            console.log("webcam started");
        })
        .catch(err => {
        console.log(err);
        });

    function snaps(){
        let picture = webcam.snap();
        document.querySelector("a").href = picture;
        /*image_name = "image_".concat(counter).concat(".jpg");
        document.querySelector("a").download = image_name;
        counter++;*/
    }
</script>
</body>
</html>