:root{
    --first-color: #064635;
    --second-color: #519259;
    --third-color: #F0BB62;
    --forth-color: #F4EEA9;
}
body{
    background-color: var(--first-color);
}
.base_div{
    height: 847px;
    width: 1518px;
    background-color: var(--first-color);
    border-color: black;
    border-width: 2px;
}
.cover{
    height: 96%;
    width: 46%;
    background-color: var(--first-color);
    display: inline-block;
    margin: 1% 0% 0% 1%;
}
.left{
    float: left;
    width: 51%;
}
.company{
    height: 6%;
    width: 60%;
    background-color: var(--second-color);
    border: 2px solid black;
    margin: 1.5%;
    margin-left: 20%;
    margin-bottom: 0%;
}
.object{
    height: 42%;
    width: 96%;
    background-color: var(--first-color);
    margin: 2%;
    margin-top: 3%;
    margin-bottom: 4%;
}
.fancy {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: var(--third-color);
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                      linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                      linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                      linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                      linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}
.billing_cover{
    height: 96%;
    width: 96%;
    background-color: var(--third-color);
    margin: 2%;
    border: 2px solid black;
}
.video_feed{
    width: 70%;
}
.side_section{
    width: 26%;
}
.video_feed, .side_section {
    height: 96%;
    background-color: var(--second-color);
    border: 2px solid black;
    margin-left: 1%;
    margin-top: 0.8%;
    float: left;
}
.side_section{
    background-color: var(--forth-color);
}
.button{
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 10%;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 62%;
  z-index: 9;
  border: 0;
  margin: 40% 9% 9%;
}

.button-41:hover {
  background: #00bd68;
}
.contacts, .unique_id, .name, .phone, .email{
    height: 8%;
    width: 50%;
    background-color: var(--forth-color);
    border: 2px solid black;
    margin: -2.5% 5% 5%;
    padding-bottom: 2%;
}
.name{
    width: 90%;
}
.contacts{
    width: 35%;
    margin-top: -2.8%;
    text-align: center;
    padding-bottom: 5%;
    background-color: var( --third-color);
    border-left: var(--third-color);
    border-right: var(--third-color);
    border-bottom: var(--third-color);
    border-radius: 72%;
    vertical-align: super;
}
.table_cover{
    height: 95%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.table_cover, table{
    background-color: var(--forth-color);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 1px dotted black;
}
table{
    width: 100%;
}
th, td {
    border-style: dotted;
    padding: 1%;
}
th{
    background-color: var(--third-color);
}
.down{
    height: 5%;
    width: 100%;
    background-color: var(--third-color);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: right;
}
.price_left, .price_right{
    height: 100%;
    border-right: 2px solid black;
    display: inline-block;
}
.price_left{
    width: 78%;
}
.price_right{
    width: 19%;
}
a{
    color: black;
    text-decoration: none;
}


/*signup page from here on*/
.signup_base_div{
    height: 847px;
    width: 1518px;
    background-color: var(--first-color);
    border-color: black;
    border-width: 2px;

}
.signup_cover{
    height: 80%;
    width: 40%;
    background-color: var(--second-color);
    display: inline-block;
    margin: 6% 0% 0% 6%;
}
.signup_left{
    float: left;
}
.video_cover{
    height: 60%;
    width: 90%;
    margin: 5%;
    margin-left: 9%;
}
canvas{
    display: none;
}
.snap_button{
    height: 5%;
    width: 10%;
    background-color: var(--third-color);
    text-align: center;
    padding-top: 2%;
    margin: 3%;
    margin-left: 45%;
}
