@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
  background-image: url('https://c8.alamy.com/comp/B14A51/supermarket-checkout-counters-B14A51.jpg');
}
.signupFrm {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 950px;
  display: block;

  /*width: 95%; 
  height: 600px; 
  border: 1px solid black; 
  margin: auto; 
  margin-top: 2%;*/
}
.form {
  background-color: white; 
  width: 400px;
  height: 350px;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  margin-top: 173px;
  margin-left: 180px;
}
.login{
  margin-right: 10%;
  display: inline-block;
  padding: -30px -50px;
}
.text{
  margin-bottom: 10%;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


::placeholder {
  color: transparent;
}
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.submitBtn {
  display: inline-block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}
.login{
  display: inline-block;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}
.input:focus {
  border: 2px solid purple;
}
.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/*.MyContent{
  width: 95%;
  height: 600px;
  border: 1px solid black;
  margin: auto;
  margin-top: 2%;
}*/


.below .text{
  color: purple;
  
  display: inline-block;
}
.text:hover{
  text-decoration: underline;
  cursor: pointer;
}

.Video_Feed{
  width: 500px;
  border-radius: 8px;
  padding: 20px 40px;
  height: 500px;
  background-color: green;
  margin-top: 20px;
  margin-left: 80px;
  position: absolute;
  top: 10%;
  left: 50%;
  display: inline-block;
}